<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Controlador.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmple</servlet-name>
        <servlet-class>Controlador.ServletEmple</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPermiso</servlet-name>
        <servlet-class>Controlador.ServletPermiso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEnfer</servlet-name>
        <servlet-class>Controlador.ServletEnfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBanco</servlet-name>
        <servlet-class>Controlador.ServletBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmer</servlet-name>
        <servlet-class>Controlador.ServletEmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConyu</servlet-name>
        <servlet-class>Controlador.ServletConyu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHijos</servlet-name>
        <servlet-class>Controlador.ServletHijos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletForm</servlet-name>
        <servlet-class>Controlador.ServletForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCapa</servlet-name>
        <servlet-class>Controlador.ServletCapa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTraye</servlet-name>
        <servlet-class>Controlador.ServletTraye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEva</servlet-name>
        <servlet-class>Controlador.ServletEva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSit</servlet-name>
        <servlet-class>Controlador.ServletSit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIncl</servlet-name>
        <servlet-class>Controlador.ServletIncl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHoja</servlet-name>
        <servlet-class>Controlador.ServletHoja</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmple</servlet-name>
        <url-pattern>/ServletEmple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPermiso</servlet-name>
        <url-pattern>/ServletPermiso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEnfer</servlet-name>
        <url-pattern>/ServletEnfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBanco</servlet-name>
        <url-pattern>/ServletBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmer</servlet-name>
        <url-pattern>/ServletEmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConyu</servlet-name>
        <url-pattern>/ServletConyu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHijos</servlet-name>
        <url-pattern>/ServletHijos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletForm</servlet-name>
        <url-pattern>/ServletForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCapa</servlet-name>
        <url-pattern>/ServletCapa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTraye</servlet-name>
        <url-pattern>/ServletTraye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEva</servlet-name>
        <url-pattern>/ServletEva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSit</servlet-name>
        <url-pattern>/ServletSit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIncl</servlet-name>
        <url-pattern>/ServletIncl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHoja</servlet-name>
        <url-pattern>/ServletHoja</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/dbtthh?autoReconnect=true&amp;useSSL=false&amp;useTimezone=true&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>User</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value>Administrador01</param-value>
    </context-param>
</web-app>
